:root {
    font-family: sans-serif;
    font-weight: bold;
    
    --background-color: #F9F9FA;
    --text-color: #363959;
    --field-color: #FFFFFF;
    --outline-color: #AAAAAC;
    
    --highlight-color-1: #25CBF9;
    --highlight-color-2: #FC6E22;
    --highlight-color-3: #28CF75;
    --highlight-color-4: #9D71FF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #2A2A2E;
        --text-color: #EFEFEF;
        --field-color: #434347;
        --outline-color: #57575A;
        
        --highlight-color-1: #25CBF9;
        --highlight-color-2: #FC6E22;
        --highlight-color-3: #28CF75;
        --highlight-color-4: #9D71FF;
    }
}

[dark-mode="enabled"] { 
    /* THIS BLOCK SHOULD REMAIN EXACTLY THE SAME AS THE ONE ABOVE */
    --background-color: #2A2A2E;
    --text-color: #EFEFEF;
    --field-color: #434347;
    --outline-color: #57575A;
    
    --highlight-color-1: #25CBF9;
    --highlight-color-2: #FC6E22;
    --highlight-color-3: #28CF75;
    --highlight-color-4: #9D71FF;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

.centered-container {
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header'
    'projects resume social other';
}

.centered-header {
    color: var(--text-color);
    grid-area: header;
    font-size: 2em;
}

.centered-item {
    width: 10em;
    border-radius: 6px;
    margin: 1em;
    background-color: var(--field-color);
    padding: 0.6em;
    line-height: 1.4;
    border: 2px var(--outline-color) solid;
}

.centered-item br {
    line-height: 0.8;
}

.centered-item a {
    color: var(--text-color);
    text-decoration: none;
}

.centered-item a:hover {
    color: inherit;
}

#projects {
    color: var(--highlight-color-1);
    grid-area: projects;
}

#resume {
    color: var(--highlight-color-2);
    grid-area: resume;
}

#social {
    color: var(--highlight-color-3);
    grid-area: social;
}

#other {
    color: var(--highlight-color-4);
    grid-area: other;
}

.themeSwitch {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: var(--field-color);
    border-top-left-radius: 0.5em;
    padding-left: 0.2em;
}

.themeSwitch input {
    opacity: 1;
}

.themeSwitch span {
    position: absolute;
    cursor: pointer;
    background-color: red;
    transition: 0.4s;
}