:root {
    --background-color: rgb(249, 249, 250);
    --text-color: rgb(54, 57, 89);
    --field-color: rgb(255, 255, 255);
    --outline-color: rgb(203, 203, 204);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(42, 42, 46);
        --text-color: rgb(249, 249, 250);
        --field-color: rgb(56, 56, 61);
        --outline-color: rgb(95, 95, 99);
    }
}

[dark-mode="enabled"] { 
    /* THIS BLOCK SHOULD REMAIN EXACTLY THE SAME AS THE ONE ABOVE */
    --background-color: rgb(42, 42, 46);
    --text-color: rgb(249, 249, 250);
    --field-color: rgb(56, 56, 61);
    --outline-color: rgb(95, 95, 99);
}

body {
    background-color: var(--outline-color);
    color: var(--text-color);
    margin: 0;
}

.header {
    display: absolute;
    padding: 0.5cm;
    text-align: center;
    background: var(--background-color);
    color: var(--text-color);
    font-size: 2em;
    z-index: 2;
    padding-left: 15%;
}

.navbar {
    height: 100%;
    position: absolute;
    z-index: 3;
    width: 15%;
    overflow-x: hidden;
    background-color: var(--field-color);
    display: block;
    text-align: center;
}

.navbar cat {
    font-size: 2em;
}

.navbar a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar a:hover {
    background-color: gray;
}

.themeSwitch {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    background-color: var(--field-color);
    border-top-left-radius: 0.5em;
    padding-left: 0.2em;
}

.themeSwitch input {
    opacity: 0;
}

.themeSwitch span {
    position: absolute;
    cursor: pointer;
    background-color: red;
    transition: 0.4s;
}